## 3. Combine Data from Two Databases

### 3.1. Option 1: Combine Data by SQL

In [ ]:
conn = sqlite3.connect('db1.sqlite')
c = conn.cursor()
c = c.execute("ATTACH DATABASE 'db2.sqlite' AS 'db2'")
conn.commit()

outcome = pd.read_sql_query('''
                            SELECT *
                            FROM main.Data1 P1
                            LEFT JOIN
                            db2.Data2 P2
                            ON SUBSTR (P1.D, 1 ,4) = P2.Q;
                            ''', conn)

conn.close()