## 3. Combine Data from Two Databases

### 3.1. Option 1: Combine Data by SQL

In [ ]:
conn = sqlite3.connect('db1.sqlite')
c = conn.cursor()
c = c.execute("ATTACH DATABASE 'db2.sqlite' AS 'db2'")
conn.commit()

outcome = pd.read_sql_query('''
                            SELECT *
                            FROM main.Data1 P1
                            LEFT JOIN
                            db2.Data2 P2
                            ON SUBSTR (P1.D, 1 ,4) = P2.Q;
                            ''', conn)

conn.close()

### 3.2. Option 2: Combine Data by Python

In [ ]:
conn_data1 = sqlite3.connect('db1.sqlite')
cursor_data1 = conn_data1.cursor()
conn_data1.commit()

data1 = pd.read_sql_query('''
                          SELECT *
                          FROM main.Data1
                          ''', conn_data1)
conn_data1.close()

In [ ]:
data1['Q'] = data1['D'].str.slice(0,4)

In [ ]:
conn_data2 = sqlite3.connect('db2.sqlite')
cursor_data2 = conn_data2.cursor()
conn_data2.commit()
data2 = pd.read_sql_query('''
                          SELECT *
                          FROM main.Data2
                          ''', conn_data2)
conn_data2.close()

In [ ]:
outcome = data1.merge(data2, left_on = 'Q', right_on = 'Q', how = 'left')

In [ ]:
outcome = outcome.drop('id_x', axis = 1)
outcome = outcome.drop('id_y', axis = 1)