## 3. Combine Data from Two Databases

### 3.1. Option 1: Combine Data by SQL

In [ ]:
# Establish a connection to SQLite database "db1."
conn = sqlite3.connect('db1.sqlite')
# Create a cursor object using the cursor method of "conn."
c = conn.cursor()
# Attach database "db2" to "db1."
c = c.execute("ATTACH DATABASE 'db2.sqlite' AS 'db2'")
# Save the changes.
conn.commit()
# Return all records from the left table "Data1" in "db1" aliased as "P1"
# and the matched records from the right table "Data2" in "db2" aliased as "P2"
# on the condition that the first 4 letters of records of "Fruit_Name_ID" in "P1" 
# are identical with records of "Fruit_Type_ID" in "P2."
outcome = pd.read_sql_query('''
                            SELECT *
                            FROM main.Data1 P1
                            LEFT JOIN
                            db2.Data2 P2
                            ON SUBSTR (P1.Fruit_Name_ID, 1 ,4) = P2.Fruit_Type_ID;
                            ''', conn)
# Close the connection.
conn.close()