## 3. Combine Data from Two Databases

### 3.2. Option 2: Combine Data by Python

In [ ]:
# Establish a connection to SQLite database "db1."
conn_data1 = sqlite3.connect('db1.sqlite')
# Create a cursor object using the cursor method of "conn_data1."
cursor_data1 = conn_data1.cursor()
# Save the changes.
conn_data1.commit()
# Return all records from table "Data1" in "db1." 
data1 = pd.read_sql_query('''
                          SELECT *
                          FROM main.Data1
                          ''', conn_data1)
# Close the connection.
conn_data1.close()

In [ ]:
# Get the first 4 letters of the string for all records in "Fruit_Name_ID" 
# and name the column of returned values as "Fruit_Type_ID."
data1['Fruit_Type_ID'] = data1['Fruit_Name_ID'].str.slice(0,4)

In [ ]:
# Establish a connection to SQLite database "db2."
conn_data2 = sqlite3.connect('db2.sqlite')
# Create a cursor object using the cursor method of "conn_data2."
cursor_data2 = conn_data2.cursor()
# Save the changes.
conn_data2.commit()
# Return all records from table "Data2" in "db2." 
data2 = pd.read_sql_query('''
                          SELECT *
                          FROM main.Data2
                          ''', conn_data2)
# Close the connection.
conn_data2.close()

In [ ]:
# Return all records from the left table "Data1" in "db1"
# and the matched records from the right table "Data2"
# on the condition that the two tables share the same "Fruit_Type_ID." 
outcome = data1.merge(data2, left_on='Fruit_Type_ID', right_on='Fruit_Type_ID', how='left')

In [ ]:
# Remove columns by coulmn names.
outcome = outcome.drop('id_x', axis = 1)
outcome = outcome.drop('id_y', axis = 1)